body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #4c5374;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: #4c5374;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.col-2 {
  border: 1px solid #d8dffc;
  border-radius: 4px;
  background: white;
  padding: 0;
  margin: 4px;
}
.feels-like {
  opacity: 0.7;
}

.float-left {
  display: inline;
}
.weather-app-wrapper {
  max-width: 580px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(201, 198, 198);
  border-radius: 6px;
  background: #f7feff;
}
.overview {
  margin-bottom: 20px;
}

.change-color {
  background-color: #4c5374;
  border-color: #4c5374;
}
.weather-temperature strong {
  color: #4c5374;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  position: relative;
}
.weather-temperature img {
  margin-right: 0;
  vertical-align: top;
  height: 100px;
  width: 100px;
  position: relative;
  top: -18px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
  color: #4c5374;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #71647c;
}
.weather-forecast-temperature-high {
  font-size: 15px;
  color: #71647c;
}
.weather-forecast-temperature-low {
  font-size: 15px;
  color: #71647c;
  opacity: 0.7;
}
